.lineNumberSpan {
  display: inline-block;
  width: 250px;
}

div:nth-child(even) {
  background: #f0f0f0;
}

.cellHexSpan {
  display: inline-block;
  font-family: monospace;
  margin: 0 .5ex;
}

.cellHexSpan:hover {
  outline: 1px solid #ccc;
}

.cellHexSpan.zero {
  color: gray;
}

.cellHexSpan.leading-zero::before {
  color: gray;
  content: '0';
}

.cellDecSpan {
  display: inline-block;
  width: 25px;
}

.cellDecSpan.zero {
  visibility: hidden;
}

.cellDecSpan:hover {
  outline: 1px solid #ccc;
}

.cellAsciiSpan {
  display: inline-block;
  width: 20px;
}

.cellAsciiSpan:hover {
  outline: 1px solid #ccc;
}
