
.lineNumberSpan {
  display: inline-block;
  width: 250px;
}

.cellHexSpan {
  display: inline-block;
  font-family: monospace;
  margin: 0 .5ex;
}

.cellHexSpan.zero {
  color: gray;
}

.cellHexSpan.leading-zero::before {
  color: gray;
  content: '0';
}

.cellDecSpan {
  display: inline-block;
  width: 25px;
}

.cellDecSpan.zero {
  visibility: hidden;
}

.cellAsciiSpan {
  display: inline-block;
  width: 20px;
}
