html {
  height: 100%;
}

body {
  box-sizing: border-box;
  font: normal 16px sans-serif;
  height: 100%;
  margin: 0;
  padding: 1em;
}

#dataViewBox {
  /* Ensure internal padding (top & bottom) causes a scroll bar to appear */
  box-sizing: border-box;

  /* Make block as by default web components are inline */
  display: block;

  /* Fill up all of the available vertical space */
  height: 100%;

  /* Ensure scroll bar appears once we artificially inflate the paddings */
  overflow: auto;

  /* Ensure the line heights are consistent and do not break, instead scroll */
  white-space: nowrap;
}
