html {
  height: 100%;
}

body {
  box-sizing: border-box;
  font: normal 16px sans-serif;
  height: 100%;
  margin: 0;
  padding: 1em;
}

#boxDiv {
  /* Ensure internal padding (top & bottom) causes a scroll bar to appear */
  box-sizing: border-box;

  /* Fill up all of the available vertical space */
  height: 100%;

  /* Ensure scroll bar appears once we artificially inflate the paddings */
  overflow: auto;

  /* Ensure the line heights are consistent and do not break, instead scroll */
  white-space: nowrap;
}

#boxDiv .lineNumberSpan {
  display: inline-block;
  width: 25px;
}

#boxDiv .cellHexSpan {
  display: inline-block;
  font-family: monospace;
  margin: 0 .5ex;
}

#boxDiv .cellHexSpan.zero {
  color: gray;
}

#boxDiv .cellHexSpan.leading-zero::before {
  color: gray;
  content: '0';
}

#boxDiv .cellDecSpan {
  display: inline-block;
  width: 25px;
}

#boxDiv .cellDecSpan.zero {
  visibility: hidden;
}
