html {
  display: flex;
  height: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  font: normal 16px sans-serif;
}

th-dataviewbox {
  /* Ensure internal padding (top & bottom) causes a scroll bar to appear */
  box-sizing: border-box;

  /* Make block as by default web components are inline */
  display: block;

  /* Fill up all of the available vertical space */
  flex: 1;

  /* Ensure scroll bar appears once we artificially inflate the paddings */
  overflow: auto;

  /* Ensure the line heights are consistent and do not break, instead scroll */
  white-space: nowrap;
}
